TestClient/Service References/NoValidationService/MainService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MainService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MainService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserCrDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserBaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserCrDto" nillable="true" type="tns:UserCrDto" />
  <xs:complexType name="UserBaseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniversityId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBaseDto" nillable="true" type="tns:UserBaseDto" />
  <xs:complexType name="CrResultOfUserDtoGvCn2ESm">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CrResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MainService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserDto" Namespace="http://schemas.datacontract.org/2004/07/MainService" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedObject" nillable="true" type="tns:UserDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CrResultOfUserDtoGvCn2ESm" nillable="true" type="tns:CrResultOfUserDtoGvCn2ESm" />
  <xs:complexType name="Result">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfError" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ResultBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionResult" type="tns:ActionResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBase" nillable="true" type="tns:ResultBase" />
  <xs:simpleType name="ActionResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="PermissionDenied" />
      <xs:enumeration value="DatabaseError" />
      <xs:enumeration value="IncorrectParameter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ActionResult" nillable="true" type="tns:ActionResult" />
  <xs:complexType name="ArrayOfError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfError" nillable="true" type="tns:ArrayOfError" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckStatus" type="tns:CheckStatus" />
      <xs:element minOccurs="0" name="Variable" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:simpleType name="CheckStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="ArgumentIsNull" />
      <xs:enumeration value="LenghtIsIncorrect" />
      <xs:enumeration value="IdDoesNotExist" />
      <xs:enumeration value="ArgumentDoesNotMatchFormat" />
      <xs:enumeration value="ArgumentIsNotUnique" />
      <xs:enumeration value="IncorrectParametr" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CheckStatus" nillable="true" type="tns:CheckStatus" />
  <xs:complexType name="UserDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserBaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="ArrayOfCityDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityDto" nillable="true" type="tns:CityDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityDto" nillable="true" type="tns:ArrayOfCityDto" />
  <xs:complexType name="CityDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityDto" nillable="true" type="tns:CityDto" />
  <xs:complexType name="ArrayOfUniversityDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UniversityDto" nillable="true" type="tns:UniversityDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUniversityDto" nillable="true" type="tns:ArrayOfUniversityDto" />
  <xs:complexType name="UniversityDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UniversityDto" nillable="true" type="tns:UniversityDto" />
  <xs:complexType name="ArrayOfImportanceDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportanceDto" nillable="true" type="tns:ImportanceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportanceDto" nillable="true" type="tns:ArrayOfImportanceDto" />
  <xs:complexType name="ImportanceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImportanceDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportanceId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportanceDto" nillable="true" type="tns:ImportanceDto" />
  <xs:complexType name="ArrayOfRolePermitions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolePermitions" nillable="true" type="tns:RolePermitions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolePermitions" nillable="true" type="tns:ArrayOfRolePermitions" />
  <xs:complexType name="RolePermitions">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RoleDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Permitions" nillable="true" type="tns:ArrayOfPermitionDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RolePermitions" nillable="true" type="tns:RolePermitions" />
  <xs:complexType name="RoleDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="xs:long" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleDto" nillable="true" type="tns:RoleDto" />
  <xs:complexType name="ArrayOfPermitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermitionDto" nillable="true" type="tns:PermitionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermitionDto" nillable="true" type="tns:ArrayOfPermitionDto" />
  <xs:complexType name="PermitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="RermitionId" type="xs:long" />
      <xs:element minOccurs="0" name="RermitionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermitionDto" nillable="true" type="tns:PermitionDto" />
</xs:schema>