TestClient/Service References/NoValidationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MainService" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MainService" minOccurs="0" name="user" nillable="true" type="q1:UserCrDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MainService" minOccurs="0" name="RegisterResult" nillable="true" type="q2:CrResultOfUserDtoGvCn2ESm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MainService" minOccurs="0" name="GetCitiesResult" nillable="true" type="q3:ArrayOfCityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnivercities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnivercitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MainService" minOccurs="0" name="GetUnivercitiesResult" nillable="true" type="q4:ArrayOfUniversityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportanceScale">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportanceScaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MainService" minOccurs="0" name="GetImportanceScaleResult" nillable="true" type="q5:ArrayOfImportanceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolePermitions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolePermitionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MainService" minOccurs="0" name="GetRolePermitionsResult" nillable="true" type="q6:ArrayOfRolePermitions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>